[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
bpython = "*"
mypy = "*"
grip = "*"

[packages]
anki = "==2.1.44"
aqt = "==2.1.44"
pyqt5 = "==5.14"
pyqtwebengine = "==5.14"
