[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
bpython = "*"
mypy = "*"
grip = "*"

[packages]
anki = "==2.1.26"
aqt = "==2.1.26"
pyqt5 = "==5.14"
pyqtwebengine = "==5.14"
# Not a dependency of this project but setting a protobuf version helps the
# PIP resolver.
protobuf = "==3.12.1"

[requires]
python_version = "3.8"
